    :root {
        --warna-dasar: #1293E4;
        --warna-kedua: #07476f;
        --warna-ketiga: #09507c;
        --warna-putih1: #fff;
        --warna-putih2: #fafafa;
        --font-dasar: 'Poppins', sans-serif;
        --size-font-subtitle: 50px;
    }

.container {
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;

}

:is(h1, p) {
    margin: 0;
}

.hero-bg {
    background-image: url(../../assets/img/banner/Banner\ Tentang\ NikiLaPOL.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    z-index: 1;
}

.hero-bg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}


.hero-katagori-driver::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

.hero {
    max-width: 500px;
    justify-content: flex-start;
    align-items: center;
}

.hero h1 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    padding-bottom: 0.5rem;
}

.hero p {
    color: #fff;
    font-size: 1rem;
}

.text-hero {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    align-items: center;
}

.bungkus-fitur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: var(--warna-kedua);
    height: 100vh;
    position: relative;
    flex-direction: row;
}

.fitur p {
    font-size: 10px;
}

.unit-body a {
    margin-top: 40px;
}

.syarat-driver {
    width: 100%;
    height: 150vh;
    background-color: var(--warna-kedua);
}

.judul-katagori-driver {
    font-family: 'Poppins';
    margin-top: 100px;
    padding-top: 25px;
    margin-bottom: -25px;
}

.judul-katagori-driver h3 {
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.card-syarat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 50%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}

.card-syarat h1 {
    font-size: 30px;
}



.education {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.credentialing {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.wallet {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.human-resources {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    background: #fff;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #4c5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.why-driver {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0 0 20px;
}

@media (max-width: 575.98px) {
    .hero h1 {
        font-size: 30px;
    }  
}

/** @section Video */
.img-video {
    position: relative;
    display: inline-block;
}

.img-video .button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.img-video *+* {
    border-radius: 50px;
    margin-top: 0;
}

*+.img-video {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    *+.img-video {
        margin-top: 50px;
    }
}

.button-play {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}

.button-play:hover {
    color: var(--warna-dasar);
}

.button-play:hover::before {
    background-color: #293043;
    animation: button-play 1s ease infinite;
}

.button-play:hover::after {
    background: #293043;
}

.button-play::before {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    background-color: rgba(41, 48, 67, 0.3);
    border-radius: 50%;
}

.button-play::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(41, 48, 67, 0.6);
    transition: all 0.3s ease-in-out;
}

.button-play .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%, -50%);
}

.button-play svg {
    position: relative;
    fill: currentColor;
    top: -1px;
    left: 3px;
    z-index: 1;
}

.button-play-1::after {
    background: #0066FF;
}

.button-play-1::before {
    background-color: rgba(41, 48, 67, 0.2);
}

.button-play-2::before {
    display: none;
}

.button-play-2::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.button-play-3 {
    width: 42px;
    height: 42px;
}

.button-play-3 svg {
    top: auto;
    width: 11px;
    height: auto;
}

.button-play-3::before,
.button-play-3:hover::before {
    background-color: rgba(1, 201, 245, 0.3);
}

.button-play-3::after,
.button-play-3:hover::after {
    background: #01C9F5;
}

.button-play-3,
.button-play-3:hover {
    color: #ffffff;
}

.button-play-4::after {
    background: #293043;
}

.button-play-4,
.button-play-4:hover {
    color: #ffffff;
}

*+.button-play {
    margin-top: 30px;
}

@media (min-width: 768px) {
    *+.button-play {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    *+.button-play {
        margin-top: 65px;
    }
}

@keyframes button-play {
    from {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }

    to {
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        opacity: 0;
    }
}

.video-minimal {
    display: flex;
    align-items: center;
}

.video-minimal-text {
    font-weight: 700;
    color: #293043;
}

*+.video-minimal {
    margin-top: 30px;
}

*+.video-minimal-text {
    margin-left: 26px;
}

@media (min-width: 768px) {
    *+.video-minimal {
        margin-top: 40px;
    }
}

@media (min-width: 992px) {
    *+.video-minimal {
        margin-top: 60px;
    }
}

.video-default {
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 50px rgba(21, 111, 193, 0.1);
    border-radius: 8px;
}

.video-default .button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    transform: translate3d(-50%, -50%, 0);
}

#cta {
    padding: 50px 0;
    background: var(--warna-kedua) url(../../assets/img/Ilustrasi/Download\ Apk.png) no-repeat;
    background-size: 40%;
    position: relative;
}


#cta .box-cta {
    width: 45%;
    margin-left: auto;
}

#cta .cta-text {
    font-size: 44px;
    line-height: 56px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 30px;
}

#cta a.btn-cta {
    background: #FFF;
    border-radius: 40px;
    color: #222;
    margin-left: auto;
    font-weight: 600;
    padding: 8px 20px;
}

#cta a.btn-cta i {
    margin-right: 5px;
}



@media screen and (max-width: 576px) {
    #cta {
        padding: 50px 0;
        background: #07476f url(../../assets/img/Ilustrasi/Download\ Apk.png) -110% no-repeat;
        background-size: 20%;
        position: relative;
    }

    #cta .box-cta {
        width: auto;
        margin-left: auto;
    }

    #cta .cta-text {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 30px;
    }

    #cta a.btn-cta {
        background: #FFF;
        border-radius: 40px;
        color: #222;
        margin-left: 100px;
        font-weight: 600;
        padding: 8px 20px;
    }

}


.card {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card .fas.fa-arrow-right {
    position: absolute;
    bottom: -100px;
    background-color: #1293E4;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.card:hover .fas.fa-arrow-right {
    bottom: 0px;
    opacity: 1;
}

.fa-solid.fa-store,
.fa-solid.fa-motorcycle,
.fa-solid.fa-bullhorn {
    font-size: 40px;
    background-color: #0000000d;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--warna-dasar);
}

.card .h4 {
    text-align: center;
    font-weight: 700;
}

.container .content {
    max-width: 350px;
}

.container .content .h-6 {
    color: var(--warna-dasar);
    font-weight: 600;
}

.container .content .btn.btn-primary {
    padding: 15px;
    background-color: var(--warna-dasar);
    color: white;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.card:hover .fa-solid.fa-store,
.card:hover .fa-solid.fa-motorcycle,
.card:hover .fa-solid.fa-bullhorn {
    color: #fff;
    background-color: var(--warna-kedua);
}

@media (max-width:990px) {
    .container .content {
        max-width: 100%;
    }
}

@media (max-width:500px) {

    .card {
        width: 100%;
    }

    .content {
        padding: 25px;
    }
}

/* Responsive */
@media only screen and (max-width: 425px) {
    .bungkus-fitur {
        height: 150vh;
    }

    .card {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .hero {
        padding: 10px 0;
    }

    .bungkus-fitur {
        height: 180vh;
    }
}